.custom-notification-wrp {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 10px;
}

.custom-notification-wrp .custom-notification {
    display: flex;
    gap: 10px;
    align-items: center;
}

.custom-notification .close-btn {
    font-size: 12px;
}